In [28]:
import calendar
import numpy as np

In [2]:
print(calendar.calendar(2024))

                                  2024

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                   1  2  3
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       4  5  6  7  8  9 10
15 16 17 18 19 20 21      12 13 14 15 16 17 18      11 12 13 14 15 16 17
22 23 24 25 26 27 28      19 20 21 22 23 24 25      18 19 20 21 22 23 24
29 30 31                  26 27 28 29               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

In [3]:
print(293860 / (0.7 * (4863 + 6214) * 2))
print(363360 / (1.0 * (4863 + 6214 + 400) * 2))

18.949173964069693
15.829920710987192

In [4]:
miles ={
'シアトル':4775,
'サンフランシスコ':5130,
'サンノゼ':5162,
'ロサンゼルス':5458,
'ヒューストン':6658,
'シカゴ':6283,
'ニューヨーク':6739,
'ワシントンDC':6762,
'ホノルル':3831,
'バンクーバー':4681,
'メキシコシティ':7003,
'ロンドン':6214,
'フランクフルト':5928,
'ミュンヘン':5866,
'デュッセルドルフ':5959,
'パリ':6194,
'ブリュッセル':6067,
'ウィーン':5699,
'イスタンブール':5748,
'モスクワ':4664,
'ミラノ':6077,
'ストックホルム':5439,
'ソウル':758,
'台北':1330,
'シンガポール':3312,
'ジャカルタ':3612,
'バンコク':2869,
'ホーチミンシティ':2706,
'ハノイ':2294,
'マニラ':1880,
'クアラルンプール':3345,
'ヤンゴン':2984,
'デリー':3656,
'ムンバイ':4201,
'プノンペン':2759,
'チェンナイ':4017,
'シドニー':4863,
'パース':4926,
}

In [5]:
check_extra = [
    'ソウル', '台北', 'シンガポール', 'ジャカルタ', 'バンコク',
    'ホーチミンシティ', 'ハノイ', 'マニラ', 'クアラルンプール', 'ヤンゴン',
    'デリー', 'ムンバイ', 'プノンペン', 'チェンナイ', 'シドニー', 'パース'
]

In [122]:
route_ratio = 0.70
extra_ratio = 0.95
way = 2.0

def new_func(route, route_ratio):
    two_way = None
    extra_mile = 0
    route_extra = 1.0
    if route in check_extra:
        route_extra = 1.5
    if route_ratio == 1.0:
        extra_mile = 400

    flight_mile = (miles[route] * route_ratio)
    bonus_mile = miles[route] * route_ratio * extra_ratio
    cluc_mile = (flight_mile + bonus_mile) * way
    premium_point = (miles[route]* route_ratio * route_extra + extra_mile) * way

    # print(route, miles[route], route_extra, extra_mile)

    return np.array([round(cluc_mile, 2), round(premium_point, 2)])

In [125]:
mile = new_func('シドニー', 0.70) + new_func('ロンドン', 0.70)
print(mile[0], mile[1])
mile = new_func('シドニー', 1.0) + new_func('ロンドン', 1.0)
print(mile[0], mile[1])

30240.21 18911.9
43200.3 28617.0

In [127]:
mile = new_func('シドニー', 0.70) + new_func('ニューヨーク', 0.70)
print(mile[0], mile[1])
mile = new_func('シドニー', 1.0) + new_func('ニューヨーク', 1.0)
print(mile[0], mile[1])

31673.46 19646.9
45247.8 29667.0

In [126]:
mile = new_func('クアラルンプール', 0.70) + new_func('ロンドン', 0.70)
print(mile[0], mile[1])
mile = new_func('クアラルンプール', 1.0) + new_func('ロンドン', 1.0)
print(mile[0], mile[1])

26096.07 15724.1
37280.1 24063.0